<h1>Listing summaries</h1>

<table>
  <tr>
    <th>Source</th>
    <th>Search</th>
    <th>Airline</th>
    <th>Stops</th>
    <th>Currency</th>
    <th>Price</th>
		<th>Created</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @summaries.each do |summary| %>
  <tr>
    <td><%= summary.source_id %></td>
    <td><%= summary.search_id %></td>
    <td><%= summary.airline_id %></td>
    <td><%= summary.stops %></td>
    <td><%= summary.currency %></td>
    <td><%= number_to_currency(summary.price) %></td>
	<td><%= nice_datetime_form(summary.created_at) %></td>
    <td><%= link_to 'Show', summary %></td>
    <td><%= link_to 'Edit', edit_summary_path(summary) %></td>
    <td><%= link_to 'Destroy', summary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Summary', new_summary_path %>
<p><%= will_paginate @summaries %></p>
