<%= form_for(@generic_search) do |f| %>
  <% if @generic_search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@generic_search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% @generic_search.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :city_from %><br />
    <%= f.collection_select :city_from_id, City.all, :id, :name, :include_blank => "Please select" %>
  </div>
  <div class="field">
    <%= f.label :city_to %><br />
    <%= f.collection_select :city_to_id, City.all, :id, :name, :include_blank => "Please select" %>    
  </div>
  <div class="field">
    <%= f.label :when %> (Format: Minute Hour Day-of-month Month-of-year Day-of-week)<br />
    <%= f.text_field :when %>
  </div>
  <div class="field">
    <%= f.label :is_active %><br />
    <%= f.check_box :is_active %>
  </div>
  <div class="field">
    <%= f.label :priority %><br />
    <%= f.number_field :priority %>
  </div>
	<div class="field">
    <%= f.label :search_group %><br />
		<%= f.collection_select :search_group_id, SearchGroup.all, :id, :name, :include_blank => "Please select" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
