<p id="notice"><%= notice %></p>

<p>
  <b>City from:</b>
  <%= @generic_search.city_from_id %>
</p>

<p>
  <b>City to:</b>
  <%= @generic_search.city_to_id %>
</p>

<p>
  <b>When:</b>
  <%= @generic_search.when %>
</p>

<p>
  <b>Is Active?:</b>
  <%= @generic_search.is_active %>
</p>

<p>
  <b>Priority:</b>
  <%= @generic_search.priority %>
</p>

<p>
  <b>Search Group:</b>
  <%= @generic_search.search_group_id %>
</p>

<%= link_to 'Edit', edit_generic_search_path(@generic_search) %> |
<%= link_to 'Back', generic_searches_path %>
