<h1>Listing search_dates</h1>

<table>
  <tr>
    <th>Departure</th>
    <th>Return</th>
    <th>Is active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @search_dates.each do |search_date| %>
  <tr>
    <td><%= nice_date_form(search_date.departure) %></td>
    <td><%= nice_date_form(search_date.returndate) %></td>
    <td><%= search_date.is_active %></td>
    <td><%= link_to 'Show', search_date %></td>
    <td><%= link_to 'Edit', edit_search_date_path(search_date) %></td>
    <td><%= link_to 'Destroy', search_date, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Search date', new_search_date_path %>
<p><%= will_paginate @search_dates %></p>
