<h1>Listing search_dates</h1>

<div id="calendar">
  <h2 id="month">
    <%= link_to "<", :month => (@date.beginning_of_month-1).strftime("%Y-%m-01") %>
    <%= h @date.strftime("%B %Y") %>
    <%= link_to ">", :month => (@date.end_of_month+1).strftime("%Y-%m-01") %>
  </h2>
  <%= calendar_for @search_dates, :year => @date.year, :month => @date.month do |calendar| %>
    <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
    <%= calendar.day(:day_method => :departure) do |date, search_dates| %>
      <%= date.day %>
      	<ul>
      		<% for search_date in search_dates %>
        		<li class="<%= "Active" if search_date.is_active %>"> 
        			<%= link_to h(nice_date_form(search_date.returndate)), search_date %></li>
      		<% end %>
    	</ul>
    <% end %>
  <% end %>
</div>
