<h1>Listing searches</h1>

<table>
  <tr>
    <th>City from</th>
    <th>City to</th>
    <th>Departure</th>
    <th>Return</th>
    <th>Active</th>
    <th>Priority</th>
		<th>Search Group</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @searches.each do |search| %>
  <tr>
    <td><%= search.city_from_id %></td>
    <td><%= search.city_to_id %></td>
    <td><%= nice_date_form(search.departure) %></td>
    <td><%= nice_date_form(search.return) %></td>
    <td><%= search.active %></td>
    <td><%= search.priority %></td>
		<td><%= search.search_group_id %></td>
    <td><%= link_to 'Show', search %></td>
    <td><%= link_to 'Edit', edit_search_path(search) %></td>
		<td><%= link_to 'Execute', execute_search_path(search) %></td>
    <td><%= link_to 'Destroy', search, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Search', new_search_path %>
